<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>Get content</title>
    <link th:href="@{/static/css/custom.css}" rel="stylesheet">
    <link th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css}" rel="stylesheet">
</head>

<body>
<div class="card shadow mb-4" layout:fragment="content">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Board Read Page</h6>
    </div>
    <div class="card-body" >
        <div class="form-group">
            <label>Bno</label> <input class="form-control" name='bno' th:value="${board.bno}" readonly="readonly">
        </div>
        <div class="form-group">
            <label>Title</label> <input class="form-control" name='title' th:value="${board.title}" readonly="readonly">
        </div>
        <div class="form-group">
            <label>Content</label> <input class="form-control" name='content' rows="3" cols="30" th:value="${board.content}" readonly="readonly">
        </div>
        <div class="form-group">
            <label>Writer</label> <input class="form-control" name='writer' th:value="${board.writer}" readonly="readonly">
        </div>
        <form class="form-group">
            <button type="button" th:data-oper='modify' class="btn btn-outline-secondary" >Modify</button>
            <button type="button" th:data-oper='list' class="btn btn-primary" >List</button>
        </form>
        <form id='operForm' th:action="@{/board/modify}" method="get">
            <input type='hidden' id='bno' name='bno' th:value="${board.bno}"/>
        </form>
        <hr>
<!--댓글 부분 -->
        <div class="container bootdey">
            <div class="col-md-12 bootstrap snippets">
                <div class="panel">
                    <div class="panel-body">
                        <textarea class="form-control" name="comment" id="comment" rows="2" placeholder="댓글을 입력하세요"></textarea>
                        <div class="mar-top clearfix">
                            <button class="btn btn-sm btn-primary pull-right" type="submit" id="sendBtn" ><i class="fa fa-pencil fa-fw"></i>작성</button>
                            <a class="btn btn-trans btn-icon fa fa-video-camera add-tooltip" href="#"></a>
                            <a class="btn btn-trans btn-icon fa fa-camera add-tooltip" href="#"></a>
                            <a class="btn btn-trans btn-icon fa fa-file add-tooltip" href="#"></a>
                        </div>
                    </div>
                </div> <!-- end panel class-->




        <div id="commentCnt" ></div>
        <div id="commentList" class="panel"></div>
        <div id="replyForm" style="display:none">
            <input type="text" name="replyComment"/>
            <button type="button" id="wrtRepBtn" class="btn btn-primary">등록</button>
            <hr>
        </div>

<!--        <div>n개의 댓글</div>-->
<!--        <form th:action="@{|/comments/create/${board.bno}|}" method="post" class="getContent-form">-->
<!--            <textarea name="comment" id="content" rows="3" cols="30"></textarea>-->
<!--            <input type="hidden" name="bno" th:value="${board.bno}">-->
<!--            <button type="submit" class="btn btn-primary" >등록</button>-->
<!--        </form>-->

<!--        <div id="commentList"></div>-->


    </div>



</div>
<!--댓글 처리 -->

<script type="text/javascript"  layout:fragment="scriptdiv">
    $(document).ready(function(){
        let operForm = $("#operForm");

        $("button[data-oper='modify']").on("click", function(e){
            console.log("modify 클릭");
            operForm.submit();
        });

        $("button[data-oper = 'list']").on("click", function(e){

            console.log("list 클릭");
            operForm.find("#bno").remove();
            operForm.attr("action", "/board/list");
            operForm.submit();
        });

    });


</script>

</body>
</html>